6_synnet_wcf/ClientApp_CS/Service References/spc2011/MyService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:42335/MyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/spc2011" />
  <xs:element name="GetAllCustomers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/spc2011" minOccurs="0" name="a_customers" nillable="true" type="q1:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerContacts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a_customer_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerContactsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/spc2011" minOccurs="0" name="a_contacts" nillable="true" type="q2:ArrayOfContact" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactForUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a_customer_id" type="xs:int" />
        <xs:element minOccurs="0" name="a_contact_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContactForUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/spc2011" minOccurs="0" name="GetContactForUpdateResult" type="q3:Method_status" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/spc2011" minOccurs="0" name="a_contact" nillable="true" type="q4:Contact" />
        <xs:element minOccurs="0" name="a_grfa" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="a_message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/spc2011" minOccurs="0" name="a_contact" nillable="true" type="q5:Contact" />
        <xs:element minOccurs="0" name="a_grfa" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/spc2011" minOccurs="0" name="UpdateContactResult" type="q6:Method_status" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/spc2011" minOccurs="0" name="a_contact" nillable="true" type="q7:Contact" />
        <xs:element minOccurs="0" name="a_grfa" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="a_message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>