6_synnet_wcf/ClientApp_VB/Service References/spc2011/MyService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/spc2011" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/spc2011" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="tns:Customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomer" nillable="true" type="tns:ArrayOfCustomer" />
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Customer_id" type="xs:int" />
      <xs:element minOccurs="0" name="Date_created" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Date_modified" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="ArrayOfContact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contact" nillable="true" type="tns:Contact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContact" nillable="true" type="tns:ArrayOfContact" />
  <xs:complexType name="Contact">
    <xs:sequence>
      <xs:element minOccurs="0" name="Billing_contact" type="xs:boolean" />
      <xs:element minOccurs="0" name="Contact_id" type="xs:int" />
      <xs:element minOccurs="0" name="Customer_id" type="xs:int" />
      <xs:element minOccurs="0" name="Department" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fax" type="xs:long" />
      <xs:element minOccurs="0" name="First_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Friendly_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="General_contact" type="xs:boolean" />
      <xs:element minOccurs="0" name="Home_phone" type="xs:long" />
      <xs:element minOccurs="0" name="Last_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Management_contact" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mobile_phone" type="xs:long" />
      <xs:element minOccurs="0" name="Sales_contact" type="xs:boolean" />
      <xs:element minOccurs="0" name="Salutation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Technical_contact" type="xs:boolean" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Web_site" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Work_extension" type="xs:int" />
      <xs:element minOccurs="0" name="Work_phone" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contact" nillable="true" type="tns:Contact" />
  <xs:simpleType name="Method_status">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="Info_error" />
      <xs:enumeration value="Fatal_error" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Method_status" nillable="true" type="tns:Method_status" />
</xs:schema>