6_synnet_wcf/ClientApp_VB/Service References/spc2011/SynergyServer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SynergyServer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:42335/MyService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:42335/MyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:42335/MyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/spc2011" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISynergyServer_GetAllCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomers" />
  </wsdl:message>
  <wsdl:message name="ISynergyServer_GetAllCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="ISynergyServer_GetCustomerContacts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerContacts" />
  </wsdl:message>
  <wsdl:message name="ISynergyServer_GetCustomerContacts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerContactsResponse" />
  </wsdl:message>
  <wsdl:message name="ISynergyServer_GetContactForUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContactForUpdate" />
  </wsdl:message>
  <wsdl:message name="ISynergyServer_GetContactForUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContactForUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ISynergyServer_UpdateContact_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateContact" />
  </wsdl:message>
  <wsdl:message name="ISynergyServer_UpdateContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateContactResponse" />
  </wsdl:message>
  <wsdl:portType name="ISynergyServer">
    <wsdl:operation name="GetAllCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/ISynergyServer/GetAllCustomers" message="tns:ISynergyServer_GetAllCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISynergyServer/GetAllCustomersResponse" message="tns:ISynergyServer_GetAllCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerContacts">
      <wsdl:input wsaw:Action="http://tempuri.org/ISynergyServer/GetCustomerContacts" message="tns:ISynergyServer_GetCustomerContacts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISynergyServer/GetCustomerContactsResponse" message="tns:ISynergyServer_GetCustomerContacts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContactForUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/ISynergyServer/GetContactForUpdate" message="tns:ISynergyServer_GetContactForUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISynergyServer/GetContactForUpdateResponse" message="tns:ISynergyServer_GetContactForUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateContact">
      <wsdl:input wsaw:Action="http://tempuri.org/ISynergyServer/UpdateContact" message="tns:ISynergyServer_UpdateContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISynergyServer/UpdateContactResponse" message="tns:ISynergyServer_UpdateContact_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISynergyServer" type="tns:ISynergyServer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllCustomers">
      <soap:operation soapAction="http://tempuri.org/ISynergyServer/GetAllCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerContacts">
      <soap:operation soapAction="http://tempuri.org/ISynergyServer/GetCustomerContacts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactForUpdate">
      <soap:operation soapAction="http://tempuri.org/ISynergyServer/GetContactForUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateContact">
      <soap:operation soapAction="http://tempuri.org/ISynergyServer/UpdateContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SynergyServer">
    <wsdl:port name="BasicHttpBinding_ISynergyServer" binding="tns:BasicHttpBinding_ISynergyServer">
      <soap:address location="http://localhost:42335/MyService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>