2_xfpl_xfnl_web_service/ClientApp_CS/Service References/spc2011/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllCustomers">
        <s:complexType />
      </s:element>
      <s:element name="GetAllCustomersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllCustomersResult" type="tns:ArrayOfCustomer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCustomer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="tns:Customer" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Customer">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Customer_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Date_created" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Date_modified" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Replication_key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Noname_001" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetCustomerContacts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CustomerId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCustomerContactsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCustomerContactsResult" type="tns:ArrayOfContact" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfContact">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Contact" nillable="true" type="tns:Contact" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Contact">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Contact_id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Customer_id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Address_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Salutation" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="First_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Last_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Friendly_name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Department" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Work_phone" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Work_extension" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Mobile_phone" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Home_phone" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="Fax" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Web_site" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Picture_file" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Management_contact" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Technical_contact" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Sales_contact" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="Billing_contact" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="General_contact" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Replication_key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Noname_001" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetContactForUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="customerId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="contactId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetContactForUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetContactForUpdateResult" type="tns:Method_status" />
            <s:element minOccurs="0" maxOccurs="1" name="contact" type="tns:Contact" />
            <s:element minOccurs="0" maxOccurs="1" name="grfa" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="Method_status">
        <s:restriction base="s:string">
          <s:enumeration value="Success" />
          <s:enumeration value="Info_error" />
          <s:enumeration value="Fatal_error" />
        </s:restriction>
      </s:simpleType>
      <s:element name="UpdateContact">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="contact" type="tns:Contact" />
            <s:element minOccurs="0" maxOccurs="1" name="grfa" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateContactResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateContactResult" type="tns:Method_status" />
            <s:element minOccurs="0" maxOccurs="1" name="contact" type="tns:Contact" />
            <s:element minOccurs="0" maxOccurs="1" name="grfa" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllCustomersSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllCustomers" />
  </wsdl:message>
  <wsdl:message name="GetAllCustomersSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="GetCustomerContactsSoapIn">
    <wsdl:part name="parameters" element="tns:GetCustomerContacts" />
  </wsdl:message>
  <wsdl:message name="GetCustomerContactsSoapOut">
    <wsdl:part name="parameters" element="tns:GetCustomerContactsResponse" />
  </wsdl:message>
  <wsdl:message name="GetContactForUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:GetContactForUpdate" />
  </wsdl:message>
  <wsdl:message name="GetContactForUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:GetContactForUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateContactSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateContact" />
  </wsdl:message>
  <wsdl:message name="UpdateContactSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateContactResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="GetAllCustomers">
      <wsdl:input message="tns:GetAllCustomersSoapIn" />
      <wsdl:output message="tns:GetAllCustomersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerContacts">
      <wsdl:input message="tns:GetCustomerContactsSoapIn" />
      <wsdl:output message="tns:GetCustomerContactsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetContactForUpdate">
      <wsdl:input message="tns:GetContactForUpdateSoapIn" />
      <wsdl:output message="tns:GetContactForUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateContact">
      <wsdl:input message="tns:UpdateContactSoapIn" />
      <wsdl:output message="tns:UpdateContactSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllCustomers">
      <soap:operation soapAction="http://tempuri.org/GetAllCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerContacts">
      <soap:operation soapAction="http://tempuri.org/GetCustomerContacts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactForUpdate">
      <soap:operation soapAction="http://tempuri.org/GetContactForUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateContact">
      <soap:operation soapAction="http://tempuri.org/UpdateContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllCustomers">
      <soap12:operation soapAction="http://tempuri.org/GetAllCustomers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerContacts">
      <soap12:operation soapAction="http://tempuri.org/GetCustomerContacts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContactForUpdate">
      <soap12:operation soapAction="http://tempuri.org/GetContactForUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateContact">
      <soap12:operation soapAction="http://tempuri.org/UpdateContact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:10984/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:10984/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>